<style>
    .root{
        display: flex;
        width: 100%;
        height: 90%;
        background: #FFF;
        border-radius: 2%;
        justify-content: center;
        align-items:  center;
    }
    .subdiv{
        display: flex;
        width: auto;
        height: auto;
        
        border-radius: 2%;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }
    .rowstyle{
        width: 900px;
        margin: 10px;
    }
    
    .watermark{
         background: url(/images/cam.jpg);
         position: absolute;
         background-repeat: no-repeat;
         
         opacity: 1.0;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         
     }
    
    </style>
    <html>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/javascripts/project.js"></script>
        <title>
            search faculty 
        </title>
        <body>
    
    
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#" style="display: flex; flex-direction: row;">
                <img src="/images/itm.png" width="200" height="60" class="d-inline-block align-top" alt="">
                <span style="display: flex; align-items: center; font-size: 30px;"><%=result.adminname%></span>
    
            </a>
    
            <div style="display: flex; margin-left: auto; align-items: center;">
            <span>
                <a class="navbar-brand" href="/admin/logout">Logout</a>
            </span>
            <span>
                <img src="/images/<%=result.picture %>" style="width: 80px; border-radius: 20px;">
            </span>
                </div>
            </nav>
        
            <div class="form-row" >
                <div class="form-group col-md-2 watermark" style=" height: 100vh;">
                <ul class="nav flex-column">
                    <li class="nav-item" style="display:flex; align-items:center; padding:10px; flex-direction:row;">
                        <i class="fas fa-users" style=" font-weight:400; font-size: 24px; color:rgb(0, 0, 0)!important;"></i>
                      <a class="nav-link active" href="/faculty/facultyinterface" style=" font-weight:400; font-size: 24px; color:#000!important;">Add faculties</a>
                    </li>
                    
                    <li class="nav-item">
                        <li class="nav-item" style="display:flex; align-items:center; padding:10px; flex-direction:row;">
                            <i class="fas fa-address-book" style=" font-weight:400; font-size: 24px; color:#000!important;"></i>
                        <a class="nav-link active" href="/faculty/showallfaculties" style=" font-weight:400; font-size: 24px; color:#000!important;">List faculties</a>
        
                    </li>
                    <li class="nav-item">
                        <li class="nav-item" style="display:flex; align-items:center; padding:10px; flex-direction:row;">
                            <i class="fas fa-search" style=" font-weight:400; font-size: 24px; color:#000!important;"></i>
                        <a class="nav-link active" href="/faculty/Searchfaculty" style="font-weight:400; font-size: 24px; color:#000!important;">Search</a>
        
                    </li>
                    <li class="nav-item">
                        <li class="nav-item" style="display:flex; align-items:center; padding:10px; flex-direction:row;">
                            <i class="fas fa-sign-out-alt" style=" font-weight:400; font-size: 24px; color:#000!important;"></i>
                        <a class="nav-link active" href="/admin/logout" style="font-weight:400; font-size: 24px; color:#000!important;">Logout</a>
        
                    </li>
                  </ul>
                </div>
        
                <div class="form-group col-md-8">
                    <form action="/faculty/displaybyid">
                        <div class="root">
                            <div class="subdiv bg-light">
                                <div class="row rowstyle">
                                  <div class="col" style="font: size 20px; color: red; font-weight: bold; letter-spacing: 1px;">
                                   
                                   <i class="fas fa-chalkboard-teacher" style="font-size: 50px;"></i>
                                    Faculty Interface
                                  </div>
                                  <div class="col" style="font: size 20px; color: red; font-weight: bold; letter-spacing: 1px;">
                                  <a href="/faculty/showallfaculties">List Faculties</a>
                    
                                  </div>
                    
                                <div class="row rowstyle">
                                    <div class="col">
                                        <input type="text" class="form-control " placeholder="facultyid" name="fid">
                                    </div>

                                </div>     
                    
                                <div class="row rowstyle" >
                                    <div class="col" style="display: flex; align-items: center; justify-content: center;">
                                        <button type="submit" class="btn btn-primary " style="width: 340px;">Submit</button>
                                    </div>
                                    <div class="col">
                                        <button type="reset" class="btn btn-primary" style="width: 340px;">Reset</button>
                                    </div>
                                </div>
                    

                                <div class="row rowstyle" >
                                    <div class="col" style="display: flex; align-items: center; justify-content: center;">
                                    <h3><%=msg %></h3>
                                    </div>
                                </div>
                               
                            </div> 
                        </div>
                        </form>
                </div>
            </div>
            
    
    
    
    
    
    
    
        
    </body>
    </html>